.chess-board {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--color-board-border);
    height: 300px;
}

.square {
    cursor: pointer;
    .base {
        fill: var(--color-board-base-fill);
        stroke: var(--color-board-base-stroke);
        stroke-width: 0.27px;
    }
    &:hover {
        .base:not(.with-selection) {
            fill: var(--color-board-base-fill-hover);
        }
    }
}

.board-coordinate-col,
.board-coordinate-row {
    font-size: 3px;
    fill: var(--color-board-coords-text);
}

.base {
    &.with-domain-black:not(.with-domain-white):not(.with-selection):not(.with-flank){
        fill: var(--color-board-base-domain-black);
    }
    &.with-domain-white:not(.with-domain-black):not(.with-selection):not(.with-flank){
        fill: var(--color-board-base-domain-white);
    }
    &.with-domain-white.with-domain-black:not(.with-selection):not(.with-flank){
        fill: var(--color-board-base-domain-both);
    }

    &.with-flank {
        stroke: var(--color-board-base-flank);
    }
    &.with-selection {
        fill: var(--color-board-base-selection);
    }
}

.markers {
    &.marker-invisible {
        display: none;
    }
}

.marker-square-notation {
    fill: var(--color-marker-notation);
    font-size: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.marker-circle-neutral {
    stroke: var(--color-marker-neutral);
}

.marker-circle-white {
    stroke: var(--color-marker-white);
}

.marker-circle-black {
    stroke: var(--color-marker-black);
}

.marker-rect-ok {
    stroke: var(--color-marker-ok);
    stroke-width: .5;
}

.marker-rect-error {
    stroke: var(--color-marker-error);
    ;
    stroke-width: .5;
}

.piece {
    &.white {
        fill: var(--color-board-piece-white);
    }
    &.black {
        fill: var(--color-board-piece-black);
    }
    &.asIcon {
        font-size: 8px;
        font-family: 'SegoeUISymbol', 'Segoe UI Symbol', sans-serif;
    }
    ;
    &:not(.asIcon) {
        font-size: 6px;
        font-family: Arial, Helvetica, sans-serif;
    }
    ;
}
