:root {
    --color-marker-neutral: rgb(0, 154, 255);
    --color-marker-white: rgb(255, 255, 255);
    --color-marker-black: rgb(231, 68, 43);
    --color-marker-ok: rgb(0, 255, 95);
    --color-marker-error: rgb(255, 0, 4);
    --color-marker-notation: white;
    --color-board-base-fill: rgba(39, 42, 49, .5);
    --color-board-base-stroke: rgba(180, 181, 185, 0.34);
    --color-board-base-fill-hover: #02010166;
    --color-board-base-domain-black: #570a15;
    --color-board-base-domain-white: #666;
    --color-board-base-domain-both: #e7442b91;
    --color-board-base-selection: #020101;
    --color-board-base-flank: rgba(255, 189, 0, 0.57);
    --color-board-piece-white: white;
    --color-board-piece-black: rgb(231, 68, 43);
    --color-board-coords-text: #999;
    --color-board-border: rgba(180, 181, 185, .5);
    --color-ui-body: rgb(50, 54, 60);
    --color-ui-section-sep: #666;
    --color-ui-section-text: white;
    --color-ui-button-bg: rgb(29, 32, 36);
    --color-ui-button-focus-bg: rgb(231, 68, 43);
    --color-ui-button-text: white;
}
